<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleAPIKey</key>
	<string>AIzaSyBniwK9smZ852LfxfkcHnlKDEq1pI5qwOo</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.42367966226-a31gh0lnd7u8ob3ec0buj1flsg24mh0k</string>
				<string>sharefilebcapp</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>42367966226-a31gh0lnd7u8ob3ec0buj1flsg24mh0k.apps.googleusercontent.com</string>
</dict>
</plist>
